$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


$my_base_width: 670;
$my_btn_width: 180;
$my_side_margin: 10;

$my_margin_2_1: $my_side_margin;
$my_margin_2_2: ($my_base_width / 2) - $my_btn_width - $my_side_margin;
$my_margin_3: (($my_base_width / 3) - $my_btn_width) / 2;
$my_margin_3_1: $my_side_margin;
$my_margin_3_2: (($my_base_width / 3) - $my_btn_width) / 2;
$my_margin_3_3: (($my_base_width / 3) - $my_btn_width) - $my_side_margin;

.my-btn-size {
    background-color: #E0E0E0;
    padding: 15px;
    .btn-group{
        .btn {
            width: 0px + $my_btn_width;            
        }
    }
}

$my-margin: 10px;

$btn-width-both-end: 180px;
$btn-margin-both-end: 10px;

.btn-group-both-end {
//    @extend .btn-group-justified;

    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    > .btn,
    > .btn-group {
        float: none;
        display: table-cell;
        width: 1%;
    }

    background-color: #E0E0E0;
    padding: 15px;
 
    .btn-group:nth-child(1) {
        .btn {
            width: $btn-width-both-end;
            margin-left: $btn-margin-both-end;
        }
    }
    .btn-group:nth-child(2) {
        .btn {
            width: $btn-width-both-end;
            float: right;
            margin-right: $btn-margin-both-end;
        }  
    }    
}



.my-btn-both-end {
    .btn-group:nth-child(1) {
        .btn {
            margin-left: $my-margin;
        }
    }
    .btn-group:nth-child(2) {
        .btn {
            float: right;
            margin-right: $my-margin;
        }  
    }
}

.my-btn-group-2 {
    .btn-group:nth-child(1) {
        .btn {
            max-width: 0px + $my_btn_width;
            margin-left: 0px + $my_margin_2_1;
        }
    }
    .btn-group:nth-child(2) {
        .btn {
            max-width: 0px + $my_btn_width;
            float: right;
            margin-right: 0px + $my_margin_2_1;
        }  
    }
}



.my-btn-group-3 {    
    .btn-group:nth-child(1) {
        .btn {
            max-width: 0px + $my_btn_width;
            margin-left: 0px + $my_margin_3_1;
        }
    }
    .btn-group:nth-child(2) {
        .btn {
            max-width: 0px + $my_btn_width;
            margin-left: 0px + $my_margin_3_2;
        }  
    }
    .btn-group:nth-child(3) {
        .btn {
            max-width: 0px + $my_btn_width;
            margin-left: 0px + $my_margin_3_3;
        }  
    }
}

.my-btn-group-3b {    
    .btn-group:nth-child(1) {
        .btn {
            max-width: 0px + $my_btn_width;
            margin-left: 0px + $my_margin_3_1;
        }
    }
    .btn-group:nth-child(2) {
        .btn {
            max-width: 0px + $my_btn_width;
            margin-left: 0px + $my_margin_3_2;
        }  
    }
    .btn-group:nth-child(3) {
        .btn {
            max-width: 0px + $my_btn_width;
            margin-left: 0px + $my_margin_3_3;
        }  
    }
}


